site_name: radicalfield
site_url: https://goessl.github.io/radicalfield/
site_author: Sebastian Gössl
site_description: Library for linear combinations of radicals.

repo_name: goessl/radicalfield
repo_url: https://github.com/goessl/radicalfield

copyright: Copyright &copy; 2025 Sebastian Gössl

theme:
  name: material
  features:
    - navigation.footer
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to system preference

plugins:
  - search
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            members_order: source
            show_root_toc_entry: false
            show_symbol_type_heading: true
            group_by_category: false
            docstring_style: numpy
            docstring_section_style: list
            show_if_no_docstring: true

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/goessl/
      name: goessl on Github
    - icon: fontawesome/brands/instagram
      link: https://instagram.com/lordgoessl/
      name: lordgoessl on Instagram

markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.tasklist:
      custom_checkbox: true

extra_javascript:
  - mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js

nav:
  - Home: index.md
  - quadraticelement2.md
  - sumofsqrts.md
